server:
  port: 20010

#自定义信息
com:
  ty:
    db:
      ip: 127.0.0.1
      port: 3306
      dataBase: ty-wq
      username: root
      password: root

spring:
  # mysql数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${com.ty.db.ip}:${com.ty.db.port}/${com.ty.db.database}?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=GMT%2B8&rewriteBatchedStatements=true
    username: ${com.ty.db.username}
    password: ${com.ty.db.password}
    type: com.alibaba.druid.pool.DruidDataSource

  #redis配置
  redis:
    database: 2
    host: 127.0.0.1
    port: 6379
    timeout: 10000s
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1
  #热部署
  devtools:
    restart:
      enabled: false

  #文件上传设置
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 0
      max-file-size: 10MB
      max-request-size: 100MB
      resolve-lazily: false

#mybatis-plus配置
mybatis:
  table:
    auto: update
    #create	    系统启动后，会将所有的表删除掉，然后根据model中配置的结构重新建表，该操作会破坏原有数据。
    #update	    系统会自动判断哪些表是新建的，哪些字段要修改类型等，哪些字段要删除，哪些字段要新增，该操作不会破坏原有数据。
    #none 		系统不做任何处理。
    #add		新增表/新增字段/新增索引/新增唯一约束的功能，不做修改和删除 (只在版本1.0.9.RELEASE及以上支持)。
  model:
    pack: com.ty.wq.pojo.po #扫描用于创建表的对象的包名，多个包用“,”隔开
  database:
    type: mysql #数据库类型 目前只支持mysql
mybatis-plus:
  mapper-locations: classpath*:/mapper/*.xml,classpath*:com/gitee/sunchenbin/mybatis/actable/mapping/*/*.xml
  #  configuration:
  #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted  # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
  type-aliases-package: com.ty.wq.pojo.po
#  configuration:
#    call-setters-on-nulls: true

#日志位置
logging:
  config: classpath:log4j2-window.xml

##图片路径
custom:
  img:
    path: E:/imgs/
  googleVerifyCode:
    timeExcursion: 3
  netty:
    websocket:
      id: 1 # netty 服务器编号
      ip: 127.0.0.1 # netty 服务器公网ip地址或域名
      port: 13018 # netty 服务器监听端口


